* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
:root {
  --primary-color: #F54932;
  --secondary-color:#313131;
  --blue-color: #3057A2;
  --white-color: #FFFFFF;
  --yellow-color: #FBCE51;
  --light-gray-color: #D6D6D6;
  --black-color: #1F1F1F;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}
  
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Golos Text', sans-serif;
    color: var(--secondary-color);
  }
  
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Merriweather-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/GolosText-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'GolosSemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/GolosText-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'GolosMedium';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/GolosText-Medium.ttf') format('truetype');
}
  
  p {
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 120%;
  }
  
  a {
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    outline: none;
    color: var(--blue-color);
  }
  
  h1 {  
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 6.0rem;
    text-transform: uppercase;
    line-height: 110%;
    color: var(--secondary-color);
    margin: 0;
  }

  h2 {  
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 5.4rem;
    text-transform: uppercase;
    line-height: 120%;
    color: var(--secondary-color);
    margin: 0;
  }

  h3 {  
    font-family: 'Merriweather', serif;
    font-size: 3.6rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 135%;
    color: var(--secondary-color);
    margin: 0;
  }
  
  .container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 7.2rem;
  }

  .header__logo {
    padding-top: 2.6rem;
  }

  .header__content {
    margin-top: 5.9rem;
    max-width: 542px;
  }

  .header {
    max-width: 1920px;
    margin: 0 auto;
    background: url("./assets/image/header.jpg") top center no-repeat;
  }

  .header__text {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    line-height: 130%;
    padding: 2.4rem 0 3.8rem 0;
  }

  .button {
    max-width: 263px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.4rem;
    border: transparent;
    border-radius: 6.6rem;
    cursor: pointer;
    text-align: center;
  }

  .button__text {
    max-width: 165px;
    font-size: 1.6rem;
    font-family: 'Golos Text', sans-serif;
    font-weight: 500;
    line-height: 130%;
  }

  .header__buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13.0rem;
  }

  .button_colored,  .button_bordered:hover {
    background-color: var(--black-color);
    color: var(--white-color);
  }

  .button_colored:hover {
    background-color: var(--yellow-color);
    color: var(--black-color);
  }

  .button_bordered {
    color: var(--black-color);
    border: 0.2rem solid var(--black-color);
  }

  .text_center {
    display: flex;
    justify-content: center;
  }

  .text_right {
    display: flex;
    justify-content: end;
  }

  .text_highlighted {
    color: var(--primary-color);
    font-weight: 700;
  }

  .text_strikethrough {
    text-decoration: line-through;
    color: var(--primary-color);
  }

  .text_strikethrough span {
    color: var(--secondary-color);
  }

  .text_bolder {
    font-family: 'GolosSemiBold', sans-serif;
  }

  .ticker {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
  }

  .ticker__lines {
    display: flex;
    font-family: 'Merriweather', serif;
    font-size: 2.2rem;
    color: var(--white-color);
    list-style-type: disc;
    line-height: 110%;
    text-transform: uppercase;
  }

  .ticker__line {
    padding-right: 3.5rem;
    flex-shrink: 0;
  }

  /* Main content */

  .lecture {
    padding-top: 7.6rem;
  }

  .lecture__block {
    display: flex;
    gap: 6.4rem;
    align-items: center;
  }

  .lecture__block__title {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr minmax(470px, auto);
    grid-template-rows: auto minmax(4.4rem, auto) auto;
  }

  .lecture__block__text:nth-child(1),
  .lecture__block__text:nth-child(4) {
    grid-column: 1 / span 2;
  }

  .lecture__block__text:nth-child(1) {
    align-self: end;
  }

  .lecture__block__text:nth-child(3) {
    grid-column: 2;
    padding-left: 1.0rem;
  }

  .lecture__block__text:nth-child(2),
  .lecture__block__text:nth-child(3),
  .lecture__block__text:nth-child(4) {
    align-self: start;
  }

  .lecture__block__image {
    grid-row: 1 / span 3;
    grid-column: 3;
    justify-self: end;
  }

  .lecture__block__image {
    max-width: 394px;
    width: 100%;
  }

  .session {
    padding-top: 6.4rem;
  }

  .session__block {
    display: flex;
  }

  .session__wrap {
    position: relative;
    min-width: 519px;
  }

  .session__img {
    position: absolute;
    width: 100%;
    flex-shrink: 0;
    top: -4.6rem;
    left: -2.0rem;
  }

  .session__table {
    width: 100%;
    margin: 6.0rem 0 3.0rem 0;
    display: grid;
    grid-template-columns: 306px 1fr;
  }

  .session__cell {
    opacity: 0.7;
    border-bottom: 0.2rem solid #D0D0D0;
  }

  .session__cell {
    padding: 1.5rem 1.6rem 1.5rem 1.6rem;
  }

  .session__cell:nth-child(even) {
    opacity: 1;
    border-left: 0.2rem solid #D0D0D0;
  }

  .session__cell:nth-child(odd) {
    padding-left: 0;
  }

  .session__cell:nth-child(1), .session__cell:nth-child(2) {
    padding-top: 0;
  }

  .session__cell:nth-child(9), .session__cell:nth-child(10) {
    border-bottom: none;
  }

  .session__link {
    color: var(--blue-color);
  }

  .stages {
    margin-top: 20.2rem;
  }

  .stages__block {
    max-width: 806px;
  }

  .stages__title {
    display: inline;
  }
  
  .stages__link {
    display: inline-block;
    width: 280px;
    padding-left: 1.8rem;
  }

  .stages__navigation {
    display: none;
  }

  .stages__grid {
    display: grid;
    grid-template-columns: [col] auto [col] auto [col] auto;
    grid-template-rows: [row] auto [row] auto [row] auto;
    gap: 2.0rem;
    padding-top: 5.4rem;
  }

  .stages__grid .stages__stage:nth-child(1) {
    grid-column: col;
    grid-row: row;
  }

  .stages__grid .stages__stage:nth-child(2) {
    grid-column: col 2;
    grid-row: row;
  }

  .stages__grid .stages__stage:nth-child(3) {
    grid-column: col 3;
    grid-row: row / span 2;
  }

  .stages__grid .stages__stage:nth-child(7) {
    grid-column: col 2 / span 2;
    grid-row: row 3;
  }

  .stages__stage {
    display: flex;
    background-image: url("./assets/image/stage_background.jpg");
    background-size: cover;
    min-width: 394px;
    gap: 1.6rem;
    padding: 2.0rem;
  }

  .stages__number {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 5.0rem;
    flex-shrink: 0;
  }

  .stages__text {
    font-family: 'GolosMedium', sans-serif;
  }

  .stages__text_width {
    max-width: 446px;
    display: block;
    position: relative;
  }

  .stages__photo {
    position: absolute;
    top: -12.0rem;
  }

  .visibility_screen_375 {
    display: none;
  }

  .tournament_participants {
    margin: 19.8rem 0 14.0rem 0;
  }

  .tournament_participants__slider {
    padding-top: 6.0rem;
    position: relative;
    display: flex;
  }

  .tournament_participants__slider__wrap {
    overflow-x: hidden;
  }

  .tournament_participants__slider__navigation {
    position: absolute;
    top: -5.2rem;
    right: 0;
    display: flex;
    gap: 1.4rem;
    align-items: center;
  }

  .tournament_participants__slider__prev,
  .tournament_participants__slider__next {
    width: 44px;
    height: 44px;
    display: block;
    background-color: var(--secondary-color);
    border-radius: 5.0rem;
    content: url('./assets/image/arrow.svg');
    padding: 1rem 0 1rem 0.5rem;
    cursor: pointer;
  }

  .tournament_participants__slider__total {
    opacity: 0.6;
  }

  .tournament_participants__slider__next.disabled,
  .tournament_participants__slider__prev.disabled {
    background-color: var(--light-gray-color);
    pointer-events: none;
  }

  .tournament_participants__slider__prev {
    transform: rotate(180deg);
  }

  .tournament_participants__slider__prev:hover,
  .tournament_participants__slider__next:hover {
    background-color: var(--yellow-color);
  }

  .tournament_participants__slider__number {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 120%;
  }

  .tournament_participants__cards {
    display: flex;
    transition: ease 0.5s;
  }

  .tournament_participants__card {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    min-width: 407px;
  }

  .tournament_participants__photo {
    width: 320px;
    margin: 0 auto;
  }

  .tournament_participants__name {
    font-size: 2.4rem;
    font-family: 'GolosSemiBold', sans-serif;
    display: block;
    padding-bottom: 0.6rem;
    text-align: center;
  }

  .tournament_participants__status {
    opacity: 0.6;
  }

  .tournament_participants__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
  }

  .tournament_participants__button {
    width: 113px;
    display: block;
    font-size: 1.6rem;
    color: var(--blue-color);
    text-align: center;
    border: 0.1rem solid var(--blue-color);
    padding: 0.8rem;
    border-radius: 6.2rem;
  }

  .tournament_participants__button:hover {
    background: var(--blue-color);
    color: var(--white-color);
  }

  .footer {
    background-color: #E9DED4;
    padding-top: 4.0rem;
    padding-bottom: 7.2rem;
  }
  .footer__text {
    font-size: 1.6rem;
  }

  /** Mobile **/
  @media only screen and (max-width : 1387px) {
    .lecture__block__title {
      grid-template-columns: auto 1fr 1fr;
    }

    .lecture__block__text:nth-child(3) {
      text-wrap: nowrap;
    }

    .stages__grid {
      grid-template-columns: [col] auto [col] auto;
      grid-template-rows: [row] auto [row] auto;
    }
  
    .stages__grid .stages__stage:nth-child(3) {
      grid-column: col;
      grid-row: row 2;
    }
  
    .stages__grid .stages__stage:nth-child(7) {
      grid-column: col;
      grid-row: row 3;
    }

    .stages__photo {
      width: 100%;
      position: relative;
      top: 0;
    }

    .session__photo {
      width: 100%;
    }

    .tournament_participants__card {
      min-width: 100%;
    }
  }

  @media only screen and (max-width : 1200px) { 
    .lecture__block__title {
      grid-template-columns: 1fr;
    }

    .lecture__block__text:nth-child(1),
    .lecture__block__text:nth-child(2),
    .lecture__block__text:nth-child(3),
    .lecture__block__text:nth-child(4) {
      grid-column: 1;
    }

    .lecture__block__text:nth-child(3) {
      order: 4;
    }

    .lecture__block__text:nth-child(4) {
      order: 5;
    }

    .lecture__block__text:nth-child(3) {
      text-wrap: wrap;
    }

    .lecture__block__image {
      grid-column: 1;
      grid-row: auto;
      justify-self: start;
    }

    .session__block {
      flex-direction: column;
    }

    .session__wrap {
      min-width: 100%;
    }

    .session__img {
      height: 435px;
      max-width: 375px;
      position: relative;
    }

    .session__photo {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  @media only screen and (max-width : 970px) {
    .stages__grid {
      grid-template-columns: [col] auto;
      grid-template-rows: [row] auto;
    }

    .session__table {
      grid-template-columns: repeat(2, 1fr);
    }

    .stages__grid .stages__stage:nth-child(2) {
      grid-column: col;
      grid-row: row 2;
    }
  
    .stages__grid .stages__stage:nth-child(3) {
      grid-column: col;
      grid-row: row 3;
    }

    .stages__grid .stages__stage:nth-child(4) {
      grid-column: col;
      grid-row: row 4;
    }

    .stages__grid .stages__stage:nth-child(5) {
      grid-column: col;
      grid-row: row 5;
    }

    .stages__grid .stages__stage:nth-child(6) {
      grid-column: col;
      grid-row: row 6;
    }
  
    .stages__grid .stages__stage:nth-child(7) {
      grid-column: col;
      grid-row: row 7;
    }

    .stages__stage {
      min-width: 100%;
    }

    .stages__photo {
      width: 100%;
      position: relative;
      top: 0;
    }

    .header__buttons {
      flex-direction: column;
      gap: 1.3rem;
    }

    .tournament_participants__photo {
      width: 245px;
      margin: 0 auto;
    }

    .tournament_participants__slider {
      flex-direction: column;
      gap: 4rem;
    }

    .tournament_participants__slider__navigation {
      position: relative;
      top: 0;
      left: 0;
      order: 1;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width : 587px) {
    .container {
      padding: 0 2.0rem;
    }

    h1 {
      font-size: 3.6rem;
    }

    h2 {
      font-size: 3.6rem;
    }

    h3 {
      font-size: 2.8rem;
    }

    .session__table {
      grid-template-columns: 1fr;
    }

    .session__cell:nth-child(even) {
      border-left: none;
    }

    .session__img {
      top: -0.4rem;
      left: 0;
    }
  }

  @media only screen and (max-width : 375px) {
    .header__logo {
      padding-top: 1.8rem;
      max-width: 213px;
    }

    .header__image {
      width: 100%;
    }

    .header {
      background: url('./assets/image/background-375.jpg') no-repeat;
      height: 774px;
    }

    .header__content {
      margin-top: 3.8rem;
    }

    .header__text {
      text-align: left;
      padding: 2.4rem 0 3.0rem 0;
    }

    .button, .button__text {
      max-width: 100%;
    }

    .button_bordered {
      background-color: var(--white-color);
      opacity: 0.9;
      border: none;
    }

    .ticker {
      height: 38px;
    }

    .ticker__lines {
      font-size: 1.6rem;
    }

    .lecture {
      padding-top: 4.8rem;
    }

    .lecture__block__image {
      padding: 2.0rem 0;
    }

    .lecture__block__text:nth-child(3) {
      padding-top: 0.3rem;
      padding-left: 0;
    }

    .session {
      padding-top: 2.6rem;
    }

    .session .container {
      padding: 0;
    }

    .session__text {
      padding: 0 2rem;
    }

    .session__table {
      margin: 4.2rem 0 2.4rem;
      grid-template-columns: 153px 1fr;
    }

    .session__cell {
      padding: 1.4rem 0 1.5rem 0;
      grid-column: 1 / span 2;
    }

    .session__cell:nth-child(odd) {
      border-bottom: none;
      padding-bottom: 0;
    }

    .session__cell:nth-child(1) {
      padding-bottom: 1.3rem;
    }

    .session__cell:nth-child(7) {
      order: 5;
      grid-column: 1;
      border-bottom: 0.2rem solid #D0D0D0;
    }

    .session__cell:nth-child(5) {
      order: 7;
    }

    .session__cell:nth-child(6) {
      order: 6;
      grid-column: 2;
    }

    .session__cell:nth-child(8) {
      order: 8;
    }

    .session__cell:nth-child(9) {
      order: 9;
    }

    .session__cell:nth-child(10) {
      order: 10;
    }

    .session__link {
      font-size: 1.8rem;
    }

    .stages {
      margin-top: 11.7rem;
    }

    .stages__block {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
    }

    .stages__link {
      width: 100%;
      font-size: 1.8rem;
      padding-left: 0;
    }

    .stages__grid {
      grid-template-columns: repeat(7, [col] 335px);
      grid-template-rows: [row] auto [row] auto;
      gap: 0;
      position: relative;
      height: 300px;
      
      padding: 0;
      margin-top: 14.6rem;
      z-index: 0;
    }

    .stages__stage:nth-child(1) .stages__number,
    .stages__stage:nth-child(3) .stages__number,
    .stages__stage:nth-child(4) .stages__number,
    .stages__stage:nth-child(6) .stages__number,
    .stages__stage:nth-child(7) .stages__number {
      margin-top: 6.2rem;
    }

    .stages__stage:nth-child(1) .stages__text,
    .stages__stage:nth-child(3) .stages__text,
    .stages__stage:nth-child(4) .stages__text,
    .stages__stage:nth-child(6) .stages__text,
    .stages__stage:nth-child(7) .stages__text {
      margin-top: 6.25rem;
    }

    .stages__navigation {
      display: flex;
      justify-content: center;
      gap: 1.7rem;
      margin: 2.8rem auto 0;
    }

    .stages__prev, .stages__next {
      width: 36px;
      height: 36px;
      display: block;
      background-color: var(--secondary-color);
      border-radius: 5.0rem;
      content: url('./assets/image/arrow.svg');
      padding: 1rem 0 1rem 0.5rem;
      cursor: pointer;
    }

    .stages__prev.disabled,
    .stages__next.disabled {
      background-color: var(--light-gray-color);
      pointer-events: none;
    } 

    .stages__prev {
      transform: rotate(180deg);
    }

    .stages__prev:hover,
    .stages__next:hover {
      background-color: var(--yellow-color);
    }

    .stages__stage {
      padding: 0 2rem;
    }

    .stages__grid .stages__stage:nth-child(3) {
      grid-column: col 2;
      grid-row: row / span 2;
    }

    .stages__grid .stages__stage:nth-child(4) {
      grid-column: col 3;
      grid-row: row;
    }

    .stages__grid .stages__stage:nth-child(5) {
      grid-column: col 3;
      grid-row: row 2;
    }

    .stages__grid .stages__stage:nth-child(6) {
      grid-column: col 4;
      grid-row: row / span 2;
    }

    .stages__grid .stages__stage:nth-child(7) {
      grid-column: col 5;
      grid-row: row / span 2;
    }

    .stages__circles {
      display: flex;
      gap: 0.6rem;
      align-items: center;
    }

    .stages__circles > div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #D9D9D9;
      transition: background-color 0.2s;
      transition-delay: 0.2s;
    }

    .stages__circles > div[data-active-slide-circle] {
      background-color: var(--secondary-color);
    }

    .stages__text {
      font-size: 1.8rem;
    }

    .stages__photo {
      display: none;
    }

    .stages__grid__wrap {
      position: relative;
      overflow-x: hidden;
    }

    .stages__photo.visibility_screen_375 {
      display: block;
      position: absolute;
      top: -12.8rem;
      left: 1.1rem;
      z-index: 1;
      transform: rotate(-3deg);
    }

    .tournament_participants {
      margin: 12.0rem 0 10.0rem;
    }

    .tournament_participants__slider__prev, 
    .tournament_participants__slider__next {
      width: 36px;
      height: 36px;
    }

    .tournament_participants__slider {
      padding-top: 3.7rem;
      gap: 4rem;
    }

    .tournament_participants__status {
      display: flex;
      text-align: center;
    }

    .tournament_participants__card {
      min-width: 100%;
      padding: 0;
      gap: 2.8rem;
    }
  }
